@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

