@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.main {
  @include section-padding;
  background:
    linear-gradient(rgba(15, 23, 42, 0.25),
      rgba(15, 23, 42, 0.35)),
    url("../../assets/main_bg.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
  }

  &-container {
    @include max-width-page;
    @include pageGrid;
    height: 100%;
    place-items: center;
  }

  &-body {
    grid-column: 1 / -1;
    justify-items: center;
    z-index: 10;

    &__logo {
      font-family: $main-title-font;
      text-align: center;
      font-size: 48px;
      color: $akcent-color;
      font-weight: 300;
    }

    &__slogan {
      font-family: $main-text-font;
      font-size: 20px;
      font-weight: 300;
      color: $text-on-dark;
      text-align: center;
    }

    &__buttons {
      display: flex;
      padding-block-start: 20px;
      gap: 10px;
      width: 100%;
    }

    &__button {
      background: rgba($color: #676767, $alpha: .4);
      width: 100%;
      padding: 10px 20px;
      border-radius: 12px;
      border: 1px solid $akcent-color;
      color: $text-on-dark;
      font-family: $main-text-font;
      font-weight: 300;
      font-size: 16px;
      cursor: pointer;
    }
  }
}